@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Style+Script&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f3f5 !important;
  /*background: url("images/bg.jpg") center fixed;*/
  background-size: contain;

  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}
